{% extends "base.twig.html" %}
{% set sidebar = true %}

{% block content %}
	{% if author_info %}
	<article>
		<header>
			<h1>About {% if author_info.website %}<a href="{{ author_info.website }}">{{ author_info.name }}</a>{% else %}{{ author_info.name }}{% endif %}:</h1>
		</header>

		<p>{{ author_info.description }}</p>
	</article>
	{% endif %}

	{% for article in articles %}
	<article>
		<header>
			<a href="{{ site.url }}/article/{{ article.slug }}"><h2>{{ article.title }}</h2></a>
			<time datetime="{{ article.date|date("Y-m-d") }}" class="articletime">{{ article.date|date("jS M Y") }}</time>
		</header>

		<div class="body">
		{% autoescape false %}
			{{ article.summary }}
		{% endautoescape %}

			<a class="readmore" href="{{ site.url }}/article/{{ article.slug }}">Read more</a>
		</div>

		<footer>
			<a href="{{ site.url }}/article/{{ article.slug }}#comments" class="comments">{{ article.comments }} comment{% if article.comments != 1 %}s{% endif %}</a>
			{% if article.tags %}
			<div class="tags index">
				Tags:{% for tag in article.tags %} <a href="{{ site.url }}/tag/{{ tag|url_encode() }}">{{ tag }}</a>{% endfor %}
			</div>
			{% endif %}
		</footer>
	</article>
	{% endfor %}
{% endblock %}
