{% extends "base.twig.html" %}

{% block content %}
	<article>
		<header>
			<h1>{{ article.title }}</h1>
			<time pubdate="pubdate">{{ article.date|date("jS M Y") }}</time>
		</header>

		<div class="body">
		{% autoescape false %}
			{{ article.body }}
		{% endautoescape %}
		</div>

		{% if article.tags %}
		<div class="tags">
			Tags:{% for tag in article.tags %} <a href="{{ site_url }}/tag/{{ tag }}">{{ tag }}</a>{% endfor %}
		</div>
		{% endif %}

		{#<section class="comments">
			<h3>Comments</h3>
			{% for comm in comments %}
			<article class="comment">
				<header>
					<h3>Posted by: {{ comm.author }}</h3>
					<p><time pubdate="pubdate">{{ comm.date|date("m/y/d") }}</time></p>
				</header>
				{% autoescape false %}
					{{ comm.text }}
				{% endautoescape %}
			</article>
			{% endfor %}
		</section>#}
	</article>
{% endblock %}
