{% extends "base.twig.html" %}

{% block content %}
	{% for article in articles %}
	<article>
		<header>
			<a href="{{ site.url }}/article/{{ article.slug }}"><h2>{{ article.title }}</h2></a>
			<time pubdate="pubdate">{{ article.date|date("m/d/y") }}</time>
		</header>

		<div class="body">
		{% autoescape false %}
			{{ article.summary }}
		{% endautoescape %}

			<a class="readmore" href="{{ site.url }}/article/{{ article.slug }}">Read more</a>
		</div>

		<footer>
			<span class="comments">0 comments</span>
			{% if article.tags %}
			<div class="tags index">
				Tags:{% for tag in article.tags %} <a href="{{ site.url }}/tag/{{ tag }}">{{ tag }}</a>{% endfor %}
			</div>
			{% endif %}
		</footer>
	</article>
	{% endfor %}
{% endblock %}
