{% extends "base.twig.html" %}

{% block content %}
	<article>
		<header>
			<h1>{{ article.title }}</h1>
			<time datetime="{{ article.date|date("Y-m-d") }}" class="articletime">{{ article.date|date("jS M Y") }}</time>
		</header>

		<div class="body">
		{% autoescape false %}
			{{ article.body }}
		{% endautoescape %}
		</div>

		{% if article.author %}
		<div class="author">
			<h2>About {% if article.author.website %}<a href="{{ article.author.website }}">{{ article.author.name }}</a>{% else %}{{ article.author.name }}{% endif %}:</h2>
			<p>{{ article.author.description }}</p>
			<p class="more">You can view more articles by this author <a href="{{ site.url }}/author/{{ article.author.username|url_encode() }}">here</a>.</p>
		</div>
		{% endif %}

		{% if article.tags %}
		<div class="tags">
			Tags:{% for tag in article.tags %} <a href="{{ site.url }}/tag/{{ tag|url_encode() }}">{{ tag }}</a>{% endfor %}
		</div>
		{% endif %}

		<section class="comments">
			<a name="comments"></a>
			<h3>Comments</h3>
			{% for comm in comments %}
			<article class="comment">
				<header>
					<span class="author"><strong>{% if comm.website %}<a href="{{ comm.website }}">{{ comm.author }}</a>{% else %}{{ comm.author }}{% endif %}</strong> says:</span>
					<time datetime="{{ comm.date|date("Y-m-d") }}">{{ comm.date|date("jS M Y \\a\\t h:i:s A") }}</time>
				</header>

				<div class="body">
				{% autoescape false %}
					{{ comm.text }}
				{% endautoescape %}
				</div>
			</article>
			{% else %}
				<p class="nocomments">No comments; leave one below.</p>
			{% endfor %}


			<article class="comment" id="newcomment">
				<header>
					<span class="author"><strong></strong> says:</span>
					<time datetime="2011-01-01"></time>
				</header>

				<div class="body"></div>
			</article>

			<form action="{{ site.url }}" method="post" id="comment_post">
				<h3>Add comment</h3>
				<table> <!-- tabular data; go away! -->
					<tr>
						<td><label for="name">Name:</label></td>
						<td><input type="text" name="name" id="name" placeholder="Your name"></td>
						<td id="nameerror" class="error"></td>
					</tr>
					<tr>
						<td><label for="email">Email:</label></td>
						<td><input type="text" name="email" id="email" placeholder="Your email address"></td>
						<td id="emailerror" class="error"></td>
					</tr>
					<tr>
						<td><label for="website">Website:</label></td>
						<td><input type="text" name="website" id="website" placeholder="Your website (optional)"></td>
						<td>&nbsp;</td>
					</tr>
				</table>
				<textarea rows="10" name="text"></textarea>
				<p>You can use markdown in comments (press "m" for a cheatsheet).</p>
				<button type="submit">Post comment</button> <span class="error" id="texterror"></span>
				<noscript>Enable JavaScript to post a comment</noscript>

				<input type="hidden" name="slug" value="{{ article.slug }}">
			</form>
		</section>
	</article>
{% endblock %}
