{% extends "base.twig.html" %}
{% set sidebar = true %}

{% block content %}
	<article class="articles nojs">
		<header>
			<h2>Loading</h2>
		</header>

		<p>lynx.io is loading, it shouldn't take long. If JavaScript is disabled, please enable it - the site will work better with it enabled.</p>
	</article>

	{% if author_info %}
	<article class="articles author">
		<header>
			<h1>About {% if author_info.website %}<a href="{{ author_info.website }}">{{ author_info.name }}</a>{% else %}{{ author_info.name }}{% endif %}:</h1>
		</header>

		<p>{{ author_info.description }}</p>
	</article>
	{% endif %}

	<div class="holder"></div>

	<div id="jpagesarticles">
		<article class="articles noarticles">
			<header>
				<h2>No articles</h2>
			</header>

			<p>:-(</p>
		</article>

		<div class="newarticle"><p></p></div>

		{% for article in articles %}
		<article class="articles">
			<header>
				<a href="{{ site.url }}/article/{{ article.slug }}"><h2>{{ article.title }}</h2></a>
				<time datetime="{{ article.date|date("Y-m-d") }}" class="articletime">{{ article.date|date("jS M Y") }}</time>
			</header>

			<div class="body">
			{% autoescape false %}
				{{ article.summary }}
			{% endautoescape %}

				<a class="readmore" href="{{ site.url }}/article/{{ article.slug }}">Read more</a>
			</div>

			<footer>
				<a href="{{ site.url }}/article/{{ article.slug }}#comments" class="comments">{{ article.comments }} comment{% if article.comments != 1 %}s{% endif %}</a>
				{% if article.tags %}
				<div class="tags index">
					Tags:{% for tag in article.tags %} <a href="{{ site.url }}/tag/{{ tag|url_encode() }}">{{ tag }}</a>{% endfor %}
				</div>
				{% endif %}
			</footer>
		</article>
		{% endfor %}
	</div>
{% endblock %}
