<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title>{{ site.name }}{% if page_title %} &bull; {{ page_title }}{% endif %}</title>

	<link rel="stylesheet" href="{{ assets_path }}/css/style.css">
	<link rel="stylesheet" href="{{ assets_path }}/css/highlight-github.css">
</head>
<body>
	<div id="headerwrap">
		<header>
			<div class="logo"><a href="{{ site.url }}">{{ site.name }}</a></div>
			<nav>
				<ul>
					<li><a href="{{ site.url }}/about">About</a></li>
					<li><a href="{{ site.url }}/contact">Contact</a></li>
				</ul>
			</nav>
		</header>
	</div>

{% if sidebar %}
	<div id="contentwrapper">
		<div id="content">
{% endif %}

		{% block content %}{% endblock %}

{% if sidebar %}
		</div>
		<div id="sidebar">
			<input type="search" placeholder="Search">

			<h2>Sponsors</h2>
			<ul>
				<li><a href="http://webdevrefinery.com/">webdevRefinery</a></li>
			</ul>

			<h2>Latest articles</h2>
			<ul>
				{% for article in latest_articles %}
				<li><a href="{{ site.url }}/article/{{ article.slug }}">{{ article.title }}</a></li>
				{% endfor %}
			</ul>

			<h2>Top articles</h2>
			<ul>
				<li><a href="#">Preventing and Dealing With Spam in phpBB</a></li>
				<li><a href="#">Preventing DDOS</a></li>
				<li><a href="#">PDO - The Basics</a></li>
				<li><a href="#">What Are Regular Expressions?</a></li>
				<li><a href="#">The Ultimate Guide to htaccess</a></li>
			</ul>
		</div>
	</div>
{% endif %}

	<footer id="footer">
		<span class="copyright">Design copyright &copy; {{ site.name }}</span>
		<span class="license"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons Licence" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a></span>
	</footer>

	<script src="{{ assets_path }}/js/highlight.pack.js"></script>
	<script>
		hljs.tabReplace = '    ';
		hljs.initHighlightingOnLoad();
	</script>
</body>
</html>
