<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title>{{ site.name }}{% if page_title %} &bull; {{ page_title }}{% endif %}</title>

	<link rel="stylesheet" href="{{ assets_path }}/css/tipsy.css">
	<link rel="stylesheet" href="{{ assets_path }}/css/highlight-github.css">
	<link rel="stylesheet" href="{{ assets_path }}/css/style.css">
</head>
<body data-root-url="{{ site.url }}">
	<div id="headerwrap">
		<header>
			<div class="logo"><a href="{{ site.url }}">{{ site.name }}</a></div>
			<nav>
				<ul>
					<li><a href="{{ site.url }}/about">About</a></li>
					<li><a href="{{ site.url }}/contact">Contact</a></li>
				</ul>
			</nav>
		</header>
	</div>

{% if sidebar %}
	<div id="contentwrapper">
		<div id="content">
{% endif %}

		{% block content %}{% endblock %}

{% if sidebar %}
		</div>
		<div id="sidebar">
			<input type="text" class="search" placeholder="Search">

			<h2>Sponsors</h2>
			<ul>
				<li><a href="http://webdevrefinery.com/">webdevRefinery</a></li>
			</ul>

			<h2>Latest articles</h2>
			<ul>
				{% for article in latest_articles %}
				<li><a href="{{ site.url }}/article/{{ article.slug }}">{{ article.title }}</a></li>
				{% endfor %}
			</ul>

			<h2>Top articles</h2>
			<ul>
				<li><a href="#">Preventing and Dealing With Spam in phpBB</a></li>
				<li><a href="#">Preventing DDOS</a></li>
				<li><a href="#">PDO - The Basics</a></li>
				<li><a href="#">What Are Regular Expressions?</a></li>
				<li><a href="#">The Ultimate Guide to htaccess</a></li>
			</ul>
		</div>
	</div>
{% endif %}

	<footer id="footer">
		<span class="copyright">Design copyright &copy; {{ site.name }}</span>
		<span class="license"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons Licence" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a></span>
	</footer>

	<div id="markdowncheat">
		<div>
			<h2>Markdown Cheat Sheet</h2>
			<pre><code class="markdown"># This is an &lt;h1&gt; tag
## This an &lt;h2&gt; tag
###### This is an &lt;h6&gt; tag

Inline markup: _this text is italic_, **this is bold**, and `code()`.

[Link text](link URL "Optional title")
[Google](http://google.com/ "Google!")

![Alt text](image URL)

![This is a fish](images/fish.jpg)

1. Ordered list item 1
2. Ordered list item 2

* Unordered list item 1
* Unordered list item 2
* Item 2a
* Item 2b

And some code:

	// Code is indented by one tab
	echo 'Hello world!';

Horizontal rules are done using four or more hyphens:

----

> This is a blockquote</code></pre>
			<div class="parsedmarkdown">
				<h1>This is an &lt;h1&gt; tag</h1>
				<h2>This an &lt;h2&gt; tag</h2>
				<h6>This is an &lt;h6&gt; tag</h6>

				<p>Inline markup: <em>this text is italic</em>, <strong>this is bold</strong>, and <code>code()</code>.</p>

				<p><a href="link URL" title="Optional title">Link text</a>
					<a href="http://google.com/" title="Google!">Google</a></p>

				<!-- Yes, I cheated! -->
				<p><img src="http://news.nationalgeographic.com/news/2005/10/images/051007_robot_fish.jpg" alt="This is a fish" title="" style="width: 50px;" /></p>

				<ol>
					<li>Ordered list item 1</li>
					<li>Ordered list item 2</li>
				</ol>

				<ul>
					<li>Unordered list item 1</li>
					<li>Unordered list item 2
						<ul><li>Item 2a</li>
							<li>Item 2b</li></ul></li>
				</ul>

				<p>And some code:</p>

<pre><code>// Code is indented by one tab
echo 'Hello world!';
</code></pre>

				<p>Horizontal rules are done using four or more hyphens:</p>
				<hr />

				<blockquote><p>This is a blockquote</p></blockquote>
			</div>
			<p>
				<a href="#" class="toggle">Toggle MarkDown / HTML (t)</a>,
				<a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">full reference</a> or
				<a href="#" class="close">close this</a></p>
		</div>
	</div>

	<script src="{{ assets_path }}/js/jquery.min.js"></script>
	<script src="{{ assets_path }}/js/jquery.tipsy.js"></script>
	<script src="{{ assets_path }}/js/script.js"></script>
	<script src="{{ assets_path }}/js/highlight.pack.js"></script>
	<script>
		hljs.tabReplace = '    ';
		hljs.initHighlightingOnLoad();
	</script>
</body>
</html>
