{% extends "base.twig.html" %}

{% block content %}
	<article>
		<header>
			<h1>Contact</h1>
		</header>

		<div class="body contact">
		{% if contact_success %}
			<p>Successfully sent. Thanks for contacting lynx.io.</p>
		{% elseif contact_failure %}
			<p>Failed to send; please go back and check your input.</p>
		{% else %}
			<p>Contact lynx.io using the following form or by emailing <span id="emailaddr">me</span>.</p>

			<form action="contact" method="post" id="contact">
				<table> <!-- tabular data; go away! -->
					<tr>
						<td><label for="name">Name:</label></td>
						<td><input type="text" name="name" id="name" placeholder="Your name"></td>
						<td id="nameerror" class="error"></td>
					</tr>
					<tr>
						<td><label for="email">Email:</label></td>
						<td><input type="text" name="email" id="email" placeholder="Your email address" title="We promise that we won't share your email address with anyone"></td>
						<td id="emailerror" class="error"></td>
					</tr>
				</table>
				<textarea rows="10" name="text"></textarea><br />
				<button type="submit">Send</button> <span class="error" id="texterror"></span> <span class="nojs">Please enable JavaScript to use the contact form</span>
			</form>
		{% endif %}
		</div>
	</article>
	<script>
		var email = 'callum' + String.fromCharCode(64) + 'macr.ae';
		document.getElementById('emailaddr').innerHTML = '<a href="mail&#116;o' + String.fromCharCode(58) + email + '">' + email + '</a>';
	</script>
{% endblock %}
