<IfModule mod_rewrite.c>
	RewriteEngine On

	# Rewrite non-existant files to index.php
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
	# Hacky as hell...
	ErrorDocument 404 /index.php
</IfModule>
