body {
	font-family: "Helvetica Neue", Verdana;
	margin: 0;
	background: yellow;
}

header#header {
	width: 100%;
	background-color: darkgreen;

	a {
		color: white;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

article {
	width: 85%;
	background: white;
	margin: 0 auto;
	padding: 10px;
}
