@green: #2e3638;
@orange: #f0a531;
@gray: #333;

body {
	font-family: "Helvetica Neue", Verdana;
	margin: 0;
	background: #e2e5df url('../imgs/bg.png');
}

#headerwrap {
	width: 100%;
	background-color: @green;
	overflow: auto;

	header {
		width: 85%;
		margin: 0 auto;
		padding: 10px 0;
		overflow: auto;
	}

	.logo a {
		color: @orange;
		font-size: 24pt;
		text-decoration: none;
		float: left;

		-moz-transition: all 200ms;
		-webkit-transition: all 200ms;
		-ms-transition: all 200ms;
		-o-transition: all 200ms;
		transition: all 200ms;

		&:hover {
			color: darken(@orange, 10%);
		}
	}

	nav {
		float: right;

		ul {
			list-style-type: none;
			margin: 0;
			margin-top: 8px;
		}

		li {
			display: inline;
			margin-left: 6px;
		}

		li:not(:first-child):before {
			content: '|';
			color: @orange;
			margin-right: 10px;
		}

		a {
			color: @orange;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

#contentwrapper {
	width: 100%;
	overflow: auto;

	#content {
		width: 75%;
		float: left;
	}

	#sidebar {
		width: 25%;
		float: right;

		h2 {
			margin-top: 30px;
			font-weight: 500;
			font-size: 10pt;
			color: #333;
			text-transform: uppercase;
		}

		.search {
			margin-top: 50px;
			width: 90%;
		}

		ul {
			list-style-type: none;
			padding-left: 0;
			margin-top: 0;

			li {
				margin-top: 6px;
			}

			a {
				color: #666;
				text-decoration: none;

				&:hover {
					color: @orange;
				}
			}
		}
	}
}

article:not(.comment) {
	width: 85%;
	background-color: white;
	margin: 0 auto;
	margin-top: 30px;
	padding: 10px;

	header {
		h1, h2 {
			font-weight: 400;
			font-size: 20pt;
			margin: 0;
			border-bottom: 3px @orange solid;
			padding-bottom: 5px;
		}

		a {
			color: inherit;
			text-decoration: none;
		}

		time.articletime {
			text-transform: uppercase;
			font-size: 9pt;
			font-weight: 100;

			padding: 0 5px 2px 5px;
			margin-top: 0;
			width: auto;
			float: right;

			background-color: @orange;
			color: white;
		}
	}

	.body {
		margin-top: 30px;
		line-height: 1.5;
		border-bottom: 1px gray dotted;
		margin-bottom: 20px;
		padding-bottom: 20px;

		a {
			color: @orange;
			&:hover {
				color: darken(@orange, 10%);
			}
		}

		pre code {
			margin-left: 30px;
		}

		.readmore {
			display: block;
			font-size: 10pt;
			padding-top: 10px;
		}
	}

	.author {
		padding-left: 50px;

		h2 {
			font-size: 12pt;

			a {
				color: black;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.more {
			font-size: 10pt;
		}
	}

	.tags {
		font-size: 10pt;
		color: #333;
		padding-bottom: 20px;

		a {
			color: white;
			text-decoration: none;
			background-color: @orange;
			border: 1px darken(@orange, 10%) solid;
			padding: 0 3px;
		}

		&.index {
			float: right;
		}
	}

	footer {
		font-size: 10pt;
		color: #333;
		overflow: auto;

		.comments {
			float: left;
			color: #333;
			text-decoration: none;
		}
	}
}

.comments {
	article {
		.author {
			padding-left: 0;
		}

		time {
			font-size: 9pt;
			color: darkgray;
			display: block;
			padding-top: 5px;
		}

		.body {
			margin-top: 5px;
			border-bottom: 0;
			padding-bottom: 10px;
			margin-bottom: 15px;
			border-bottom: 1px lightgray dotted;
		}
	}

	#newcomment {
		display: none;
	}

	form {
		tr {
			padding: 5px 0;
		}

		td:first-child {
			width: 100px;
		}

		.error {
			display: none;
			padding-left: 10px;
			font-size: 10pt;
		}

		input {
			padding: 4px;
			width: 200px;
			border: 1px darkgray solid;
		}

		textarea {
			border: 1px darkgray solid;
			width: 600px;
		}

		p {
			margin-top: 0;
			font-size: 10pt;
		}

		button {
			background-color: @orange;
			border: 1px darken(@orange, 10%) solid;
			padding: 5px;
			font-size: 10pt;
		}
	}
}

.contact form {
	strong, input, textarea {
		display: block;
	}

	input, textarea {
		width: 300px;
		padding: 4px;
		margin-bottom: 20px;
	}
}

#footer {
	width: 85%;
	margin: 20px auto;

	.copyright {
		color: @gray;
		font-size: 10pt;
		float: left;
	}

	.license {
		float: right;
	}
}
